# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/bin/
lambda-dist/
lambda.zip
lambda-deployment.zip

# Node
node_modules/
dist/
